{% extends 'layout.html' %} {% block content %}
<div>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="background-color: red;">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
<h1 style="font-family: cursive;text-align: center;">Manage Deliveries</h1>
<span style="color: red; font-weight: bold;">Warning! deleting a delivery will also delete the delivery's cart permently!</span>
<div class="row">
  <h4>Single delivery search:</h4>
  <form class="col s12 m4" action="{% url 'delivery-by-id' %}" method="POST">
      {% csrf_token %}
    <div class="row">
      <div class="input-field col s6">
        <label for="order_id">Order Number</label>
        <input placeholder="Order ID" name="order_id" type="text" class="validate">
        <button type="submit">search delivery</button>
      </div>
    </div>
  </form>
  <a style="margin: 5px;" class="btn-small right black white-text" href="{% url 'by-arrived' %}">filter by arrived</a>
  <a style="margin: 5px;" class="btn-small right black white-text" href="{% url 'by-not-arrived' %}">filter by not arrived</a>
</div>
<table class="centered">
    <thead>
      <tr>
          <th>Order Number</th>
          <th>Created</th>
          <th>is arrived</th>
          <th>Checks</th>
      </tr>
    </thead>

    <tbody>
        {% for delivery in deliveries %}
      <tr>
        <td>{{delivery.cart.id}}</td>
        <td>{{delivery.created}}</td>
        {% if delivery.is_delivered %}
        <td><i class="medium material-icons">check</i></td>
        <td>
            <a class="btn black white-text" href="{% url 'mark-unarrived' id=delivery.cart.id %}">Unarrive</a>
          {% else %}
          <td><i class="medium material-icons">close</i></td>
          <td>
            <a class="btn black white-text" href="{% url 'mark-arrived' id=delivery.cart.id %}">Arrive</a>
          {% endif %}
            <a class="btn black white-text" href="{% url 'delete-del' id=delivery.cart.id %}">Delete Delivery</a>
          </td>
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}