{% extends 'layout.html' %} {% block content %}
<main>
    <h1 style="font-size: 2rem;
               text-align: center;
               font-family: fantasy;
               ">About Us</h1>
    <p style="font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
    margin: 20px;
    font-family: cursive;">
        We believe in nourishing the body and delighting the senses with our carefully crafted menu of classic and regional Italian dishes made with fresh, locally sourced ingredients. <br> Our warm and inviting atmosphere, friendly service, and extensive wine selection make dining with us a memorable experience. Private dining options available.<br>
        an exceptional dining experience. <br> Our warm and inviting atmosphere is designed to make you feel at home, and our friendly and knowledgeable staff is always ready to assist you in choosing the perfect dish or wine pairing. <br>
        We take pride in our commitment to hospitality, and we strive to create lasting memories for our guests. <br> From the moment you walk through our doors, you will be greeted with a genuine Italian welcome and treated with the utmost care and attention.
        But it's not just about the food and service - it's also about the company you keep. <br> Our restaurant is a place where friends and family come together to enjoy good food, good wine, and good company. <br> We believe that dining is an experience to be shared and cherished, and we are honored to be a part of your special moments.<br>    
        In addition to our exceptional dining experience, we also offer private dining options for special events and celebrations. <br> Whether you're planning a birthday party, a business gathering, or a romantic dinner for two, our private dining spaces are perfect for creating memorable experiences. <br>        
        We are proud to be a part of the rich culinary heritage of Italy, and we are committed to bringing the flavors of Italy to your table. <br> Join us at The Bites Of Python for an unforgettable Italian dining experience that will transport your taste buds to the heart of Italy. <br> Buon appetito!</p>
</main>
{% endblock content %}