<nav>
  <div class="nav-wrapper teal lighten-3">
    <div class="col s12">
      <a style="margin:5px; border-radius:8px" href="{% url 'manage-categories' %}" class="btn-small black">Manage Categories</a>
      <a style="margin:5px; border-radius:8px" href="{% url 'manage-dishes'%}" class="btn-small black">Manage Dishes</a>
      <a style="margin:5px; border-radius:8px" href="{% url 'manage-deliveries'%}" class="btn-small black">Manage Deliveries</a>
      <a style="margin:5px; border-radius:8px" href="{% url 'manage-carts'%}" class="btn-small black">Manage Carts</a>
      <a style="margin:5px; border-radius:8px" href="{% url 'manage-users'%}" class="btn-small black">Manage Users</a>
    </div>
  </div>
</nav>
